In [1]:
#Question 1

# Consider the following Python module:
# a = 0
# def b():
#  global a
#  a = c(a)
# def c(a):
#  return a + 2
# After importing the module into the interpreter, you execute:
# >>> b()
# >>> b()
# >>> b()
# >>> a
# ?
# What value is displayed when the last expression (a) is evaluated? Explain your
# answer by indicating what happens in every executed statement.


a = 0
def b():
    global a
    a = c(a)
def c(a):
    return a + 2
b()
b()
b()
a

6

In [4]:
# Question 2

# Function fileLength(), given to you, takes the name of a file as input and returns
# the length of the file:
# >>> fileLength('midterm.py')
# 284
# >>> fileLength('idterm.py')
# Traceback (most recent call last):
# File "<pyshell#34>", line 1, in <module>
#  fileLength('idterm.py')
# File "/Users/me/midterm.py", line 3, in fileLength
#  infile = open(filename)
# FileNotFoundError: [Errno 2] No such file or directory:
# 'idterm.py'
# As shown above, if the file cannot be found by the interpreter or if it cannot be read
# as a text file, an exception will be raised. Modify function fileLength() so that a
# friendly message is printed instead:
# >>> fileLength('midterm.py')
# 358
# >>> fileLength('idterm.py')
# File idterm.py not found

def fileLength(file_name):
    try:
        file = open(file_name)
        contents = file.read()
        file.close()
        print(len(contents))
    except:
        print("File "+str(file_name)+"not found")

In [5]:
fileLength('idterm.py')

File idterm.pynot found

In [14]:
# Write a class named Marsupial that can be used as shown below:
# >>> m = Marsupial()
# >>> m.put_in_pouch('doll')
# >>> m.put_in_pouch('firetruck')
# >>> m.put_in_pouch('kitten')
# >>> m.pouch_contents()
# ['doll', 'firetruck', 'kitten']
# Now write a class named Kangaroo as a subclass of Marsupial that inherits all the
# attributes of Marsupial and also:
# a. extends the Marsupial __init__ constructor to take, as input, the
# coordinates x and y of the Kangaroo object,
# b. supports method jump that takes number values dx and dy as input and
# moves the kangaroo by dx units along the x-axis and by dy units along the yaxis, and
# c. overloads the __str__ operator so it behaves as shown below.
# >>> k = Kangaroo(0,0)
# >>> print(k)
# I am a Kangaroo located at coordinates (0,0)
# >>> k.put_in_pouch('doll')
# >>> k.put_in_pouch('firetruck')
# >>> k.put_in_pouch('kitten')
# >>> k.pouch_contents()
# ['doll', 'firetruck', 'kitten']
# >>> k.jump(1,0)
# >>> k.jump(1,0)
# >>> k.jump(1,0)
# >>> print(k)
# I am a Kangaroo located at coordinates (3,0)


class Marsupial: 
      
    def __init__(self,a,b):            
        self.pouch=[]                   
        
        
    def put_in_pouch(self,items):        
        self.pouch.append(items)
        
    def pouch_contents(self):           
        return self.pouch

class Kangaroo(Marsupial):             
    def __init__(self,a,b):              
        super().__init__(a,b)          
        self.da = 0                      
        self.db = 0                        
    
    def jump(self,a,b):                 
        self.da = self.da + a              
        self.db = self.db + b
    
    def __str__(self):                                                       
        
        return ('I am a Kangaroo located at coordinates({},{})'.format(self.da,self.db))

x = Kangaroo(0,0)
x.put_in_pouch('doll')
x.put_in_pouch('firetruck')
x.put_in_pouch('kitten')
x.pouch_contents()
print("contents in the list are")
print(x.pouch)  
x.jump(1,0)
x.jump(1,0)
x.jump(1,0)
print(x)

contents in the list are
['doll', 'firetruck', 'kitten']
I am a Kangaroo located at coordinates(3,0)

In [2]:
# Question 4
# Write function collatz() that takes a positive integer x as input and prints the
# Collatz sequence starting at x. A Collatz sequence is obtained by repeatedly applying
# this rule to the previous number x in the sequence:
# x = {
# 𝑥/2 𝑖𝑓 𝑥 𝑖𝑠 𝑒𝑣𝑒𝑛
# 3𝑥 + 1 𝑖𝑓 𝑥 𝑖𝑠 𝑜𝑑𝑑
# Your function should stop when the sequence gets to number 1. Your
# implementation must be recursive, without any loops.
#  >>> collatz(1)
# 1
# >>> collatz(10)
# 10
# 5
# 16
# 8
# 4
# 2)
# 1

def collatz(x):
    if x==1:
        return 1
    else:
        print(x)
        if x%2==0:
            return collatz(x//2)
        else: 
            return collatz(3*x+1)

In [4]:
collatz(1)

1

In [5]:
collatz(10)

10
5
16
8
4
2

1

In [6]:
# Question 5
# Write a recursive method binary() that takes a non-negative
# integer n and prints the binary representation of integer n.
# >>> binary(0)
# 0
# >>> binary(1)
# 1
# >>> binary(3)
# 11
# >>> binary(9)
# 1001


def binary(n):
    if n==0:
        return 0
    else:
        binary(n//2)
        print(n%2,end='')

In [7]:
binary(0)

0

In [8]:
binary(1)

1

In [9]:
binary(3)

11

In [10]:
binary(9)

1001

In [11]:
# Question 6
# Implement a class named HeadingParser that can be used to parse an HTML
# document, and retrieve and print all the headings in the document. You should
# implement your class as a subclass of HTMLParser, defined in Standard Library
# module html.parser. When fed a string containing HTML code, your class should
# print the headings, one per line and in the order in which they appear in the
# document. Each heading should be indented as follows: an h1 heading should have indentation 0, and h2 heading should have indentation 1, etc. Test your
# implementation using w3c.html.
# >>> infile = open('w3c.html')
# >>> content = infile.read()
# >>> infile.close()
# >>> hp = HeadingParser()
# >>> hp.feed(content)
# W3C Mission
# Principles


from html.parser import HTMLParser
store=[]
class HeadingParser(HTMLParser):
    global store
    def handle_starttag(self, tag, attrs):
        store.append(tag)
    def handle_data(self, data):
        store.append(data)        
    def handle_endtag(self,tag):
        if(tag=="html"):
            for val in store:
                for tagno in ('h1','h2','h3','h4','h5','h6'):
                    if(val==tagno):
                        ind=store.index(tagno)
                        print(store[ind+1],end="\n\t")

In [14]:
infile = open("C:/Users/joelb/W3c.html")
content = infile.read()
infile.close()
hp = HeadingParser()
hp.feed(content)

W3C Mission
	Principles

In [25]:
# Question 7
# Implement recursive function webdir() that takes as input: a URL (as a string) and
# non-negative integers depth and indent. Your function should visit every web
# page reachable from the starting URL web page in depth clicks or less, and print
# each web page's URL. As shown below, indentation, specified by indent, should
# be used to indicate the depth of a URL.
# >>>
# webdir('http://reed.cs.depaul.edu/lperkovic/csc242/test1.html'
# , 2, 0)
# http://reed.cs.depaul.edu/lperkovic/csc242/test1.html
#  http://reed.cs.depaul.edu/lperkovic/csc242/test2.html
#  http://reed.cs.depaul.edu/lperkovic/csc242/test4.html
#  http://reed.cs.depaul.edu/lperkovic/csc242/test3.html
#  http://reed.cs.depaul.edu/lperkovic/csc242/test4.html


from urllib.request import urlopen
from urllib.parse import urljoin
from html.parser import HTMLParser

class LinkParser(HTMLParser):
    def init(self):
        super().init()
        self.links = []

    def handle_starttag(self, tag, attrs):
        if tag == 'a':
            for attr in attrs:
                if attr[0] == 'href':
                    self.links.append(attr[1])

def webdir(url, depth, indent):
    if depth < 0:
        return

    print(' ' * indent + url)

    try:
        response = urlopen(url)
    except:
        return

    parser = LinkParser()
    parser.feed(response.read().decode())

    for link in parser.links:
        absolute_url = urljoin(url, link)
        webdir(absolute_url, depth - 1, indent + 1)

In [43]:
webdir('http://reed.cs.depaul.edu/lperkovic/csc242/test1.html', 2, 0)

http://reed.cs.depaul.edu/lperkovic/csc242/test1.html

In [17]:
 !pip install ipython-sql

Collecting ipython-sql
  Downloading ipython_sql-0.5.0-py3-none-any.whl (20 kB)
Requirement already satisfied: ipython-genutils in c:\users\joelb\anaconda3\lib\site-packages (from ipython-sql) (0.2.0)
Collecting prettytable
  Downloading prettytable-3.6.0-py3-none-any.whl (27 kB)
Collecting sqlalchemy>=2.0
  Downloading SQLAlchemy-2.0.5.post1-cp39-cp39-win_amd64.whl (2.0 MB)
     ---------------------------------------- 2.0/2.0 MB 4.6 MB/s eta 0:00:00
Requirement already satisfied: ipython in c:\users\joelb\anaconda3\lib\site-packages (from ipython-sql) (7.31.1)
Requirement already satisfied: six in c:\users\joelb\anaconda3\lib\site-packages (from ipython-sql) (1.16.0)
Collecting sqlparse
  Downloading sqlparse-0.4.3-py3-none-any.whl (42 kB)
     ---------------------------------------- 42.8/42.8 kB 2.0 MB/s eta 0:00:00
Requirement already satisfied: typing-extensions>=4.2.0 in c:\users\joelb\anaconda3\lib\site-packages (from sqlalchemy>=2.0->ipython-sql) (4.3.0)
Requirement already satisfied: greenlet!=0.4.17 in c:\users\joelb\anaconda3\lib\site-packages (from sqlalchemy>=2.0->ipython-sql) (1.1.1)
Requirement already satisfied: backcall in c:\users\joelb\anaconda3\lib\site-packages (from ipython->ipython-sql) (0.2.0)
Requirement already satisfied: jedi>=0.16 in c:\users\joelb\anaconda3\lib\site-packages (from ipython->ipython-sql) (0.18.1)
Requirement already satisfied: pickleshare in c:\users\joelb\anaconda3\lib\site-packages (from ipython->ipython-sql) (0.7.5)
Requirement already satisfied: colorama in c:\users\joelb\anaconda3\lib\site-packages (from ipython->ipython-sql) (0.4.5)
Requirement already satisfied: decorator in c:\users\joelb\anaconda3\lib\site-packages (from ipython->ipython-sql) (5.1.1)
Requirement already satisfied: pygments in c:\users\joelb\anaconda3\lib\site-packages (from ipython->ipython-sql) (2.11.2)
Requirement already satisfied: matplotlib-inline in c:\users\joelb\anaconda3\lib\site-packages (from ipython->ipython-sql) (0.1.6)
Requirement already satisfied: prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0 in c:\users\joelb\anaconda3\lib\site-packages (from ipython->ipython-sql) (3.0.20)
Requirement already satisfied: setuptools>=18.5 in c:\users\joelb\anaconda3\lib\site-packages (from ipython->ipython-sql) (63.4.1)
Requirement already satisfied: traitlets>=4.2 in c:\users\joelb\anaconda3\lib\site-packages (from ipython->ipython-sql) (5.1.1)
Requirement already satisfied: wcwidth in c:\users\joelb\anaconda3\lib\site-packages (from prettytable->ipython-sql) (0.2.5)
Requirement already satisfied: parso<0.9.0,>=0.8.0 in c:\users\joelb\anaconda3\lib\site-packages (from jedi>=0.16->ipython->ipython-sql) (0.8.3)
Installing collected packages: sqlparse, sqlalchemy, prettytable, ipython-sql
  Attempting uninstall: sqlalchemy
    Found existing installation: SQLAlchemy 1.4.39
    Uninstalling SQLAlchemy-1.4.39:
      Successfully uninstalled SQLAlchemy-1.4.39
Successfully installed ipython-sql-0.5.0 prettytable-3.6.0 sqlalchemy-2.0.5.post1 sqlparse-0.4.3

In [18]:
# Question 8
# Write SQL queries on the below database table that return:
# a) All the temperature data.
# b) All the cities, but without repetition.
# c) All the records for India.
# d) All the Fall records.
# e) The city, country, and season for which the average rainfall is between 200
# and 400 millimeters.
# f) The city and country for which the average Fall temperature is above 20
# degrees, in increasing temperature order.
# g) The total annual rainfall for Cairo.
# h) The total rainfall for each season.

import sqlite3
con = sqlite3.connect('p2.db')
cur = con.cursor()

In [19]:

cur.execute("CREATE TABLE Weather (City text, Country text, Season text, Temperature float, Rainfall float)")

In [20]:
r=('Mumbai','India','Winter',24.8,5.9)
cur.execute("INSERT INTO Weather VALUES(?,?,?,?,?)",r)

In [21]:
r=('Mumbai','India','Spring',28.4,16.2)
cur.execute("INSERT INTO Weather  VALUES(?,?,?,?,?)",r)
r=('Mumbai','India', 'Summer', 27.9 ,1549.4)
cur.execute("INSERT INTO Weather  VALUES(?,?,?,?,?)",r)
r=('Mumbai','India','Fall', 27.6, 346.0)
cur.execute("INSERT INTO Weather  VALUES(?,?,?,?,?)",r)
r=('London' ,'United Kingdom', 'Winter', 4.2 ,207.7)
cur.execute("INSERT INTO Weather  VALUES(?,?,?,?,?)",r)
r=('London' ,'United Kingdom','Spring',8.3 ,169.6)
cur.execute("INSERT INTO Weather  VALUES(?,?,?,?,?)",r)
r=('London' ,'United Kingdom', 'Summer', 15.7 ,157.0)
cur.execute("INSERT INTO Weather  VALUES(?,?,?,?,?)",r)
r=('London' ,'United Kingdom','Fall',10.4 ,218.5)
cur.execute("INSERT INTO Weather  VALUES(?,?,?,?,?)",r)
r=('Cairo', 'Egypt' ,'Winter' , 13.6 ,16.5)
cur.execute("INSERT INTO Weather  VALUES(?,?,?,?,?)",r)
r=('Cairo', 'Egypt' ,'Spring' , 20.7 ,6.5)
cur.execute("INSERT INTO Weather  VALUES(?,?,?,?,?)",r)
r=('Cairo', 'Egypt' ,'Summer' , 27.7 ,0.1)
cur.execute("INSERT INTO Weather  VALUES(?,?,?,?,?)",r)
r=('Cairo', 'Egypt' ,'Fall' ,22.2 ,4.5)
cur.execute("INSERT INTO Weather  VALUES(?,?,?,?,?)",r)

In [22]:
con.commit()
con.close()

In [23]:
con = sqlite3.connect('p2.db')
cur = con.cursor()
cur.execute('SELECT * FROM Weather')
cur.fetchall()

[('Mumbai', 'India', 'Winter', 24.8, 5.9),
 ('Mumbai', 'India', 'Spring', 28.4, 16.2),
 ('Mumbai', 'India', 'Summer', 27.9, 1549.4),
 ('Mumbai', 'India', 'Fall', 27.6, 346.0),
 ('London', 'United Kingdom', 'Winter', 4.2, 207.7),
 ('London', 'United Kingdom', 'Spring', 8.3, 169.6),
 ('London', 'United Kingdom', 'Summer', 15.7, 157.0),
 ('London', 'United Kingdom', 'Fall', 10.4, 218.5),
 ('Cairo', 'Egypt', 'Winter', 13.6, 16.5),
 ('Cairo', 'Egypt', 'Spring', 20.7, 6.5),
 ('Cairo', 'Egypt', 'Summer', 27.7, 0.1),
 ('Cairo', 'Egypt', 'Fall', 22.2, 4.5)]

In [24]:
# a) All the temperature data.
cur.execute('SELECT Temperature FROM Weather')
cur.fetchall()

[(24.8,),
 (28.4,),
 (27.9,),
 (27.6,),
 (4.2,),
 (8.3,),
 (15.7,),
 (10.4,),
 (13.6,),
 (20.7,),
 (27.7,),
 (22.2,)]

In [28]:
# b) All the cities, but without repetition.
cur.execute('SELECT DISTINCT City FROM Weather')
cur.fetchall()

[('Mumbai',), ('London',), ('Cairo',)]

In [31]:
# c) All the records for India.
cur.execute("SELECT *  FROM Weather WHERE Country = 'India'")
cur.fetchall()

[('Mumbai', 'India', 'Winter', 24.8, 5.9),
 ('Mumbai', 'India', 'Spring', 28.4, 16.2),
 ('Mumbai', 'India', 'Summer', 27.9, 1549.4),
 ('Mumbai', 'India', 'Fall', 27.6, 346.0)]

In [32]:
# d) All the Fall records.

cur.execute("SELECT *  FROM Weather WHERE Season = 'Fall'")
cur.fetchall()

[('Mumbai', 'India', 'Fall', 27.6, 346.0),
 ('London', 'United Kingdom', 'Fall', 10.4, 218.5),
 ('Cairo', 'Egypt', 'Fall', 22.2, 4.5)]

In [33]:
# e) The city, country, and season for which the average rainfall is between 200 and 400 millimeters.
cur.execute("SELECT City,Country,Season FROM Weather WHERE Rainfall BETWEEN 200 AND 400")
cur.fetchall()

[('Mumbai', 'India', 'Fall'),
 ('London', 'United Kingdom', 'Winter'),
 ('London', 'United Kingdom', 'Fall')]

In [34]:
# f) The city and country for which the average Fall temperature is above 20 degrees, in increasing temperature order
cur.execute("SELECT DISTINCT City,Country FROM Weather WHERE Temperature> 20 ORDER BY Temperature ASC")
cur.fetchall()

[('Cairo', 'Egypt'), ('Mumbai', 'India')]

In [35]:
# g) The total annual rainfall for Cairo.
cur.execute("SELECT SUM(Rainfall) FROM Weather WHERE City='Cairo'")
cur.fetchall()

[(27.6,)]

In [36]:
# h) The total rainfall for each season.
cur.execute("SELECT SUM(Rainfall) FROM Weather GROUP BY Season")
cur.fetchall()

[(569.0,), (192.29999999999998,), (1706.5,), (230.1,)]

In [37]:
# Question 9
# . Suppose list words is defined as follows:
# >>> words = ['The', 'quick', 'brown', 'fox', 'jumps', 'over',
# 'the', 'lazy', 'dog']
# Write list comprehension expressions that use list words and generate the following
# lists:
# a) ['THE', 'QUICK', 'BROWN', 'FOX', 'JUMPS', 'OVER', 'THE',
# 'LAZY', 'DOG']
# b) ['the', 'quick', 'brown', 'fox', 'jumps', 'over', 'the',
# 'lazy', 'dog']
# c) [3, 5, 5, 3, 5, 4, 3, 4, 3] (the list of lengths of words in list
# words).
# d) [['THE', 'the', 3], ['QUICK', 'quick', 5], ['BROWN',
# 'brown', 5], ['FOX', 'fox', 3], ['JUMPS', 'jumps', 5],
# ['OVER', 'over', 4], ['THE', 'the', 3], ['LAZY', 'lazy',
# 4], ['DOG', 'dog', 3]] (the list containing a list for every word of list
# words, where each list contains the word in uppercase and lowercase and the
# length of the word.)
# e) ['The', 'quick', 'brown', 'fox', 'jumps', 'over', 'the',
# 'lazy', 'dog'] (the list of words in list words containing 4 or more
# characters.)

words = ['The', 'quick', 'brown', 'fox', 'jumps', 'over','the', 'lazy', 'dog']

In [38]:
# a) Making all the words to upper case
a=[x.upper() for x in words]
a

['THE', 'QUICK', 'BROWN', 'FOX', 'JUMPS', 'OVER', 'THE', 'LAZY', 'DOG']

In [39]:
# b ) Making all the words to lower case
b=[x.lower() for x in words]
b

['the', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']

In [40]:
# c ) the list of lengths of words in list words
c=[len(x) for x in words]
c

[3, 5, 5, 3, 5, 4, 3, 4, 3]

In [41]:
# d ) the list containing a list for every word of list words, where each list contains the word in uppercase and lowercase and the length of the word.
m=[a,b,c]
d=[[m[i][j] for i in range(0,len(m)) ]for j in range (0,len(a))]
d

[['THE', 'the', 3],
 ['QUICK', 'quick', 5],
 ['BROWN', 'brown', 5],
 ['FOX', 'fox', 3],
 ['JUMPS', 'jumps', 5],
 ['OVER', 'over', 4],
 ['THE', 'the', 3],
 ['LAZY', 'lazy', 4],
 ['DOG', 'dog', 3]]

In [42]:
# e ) the list of words in list words containing 4 or more characters.
e=[x for x in words if len(x)>=4]
e

['quick', 'brown', 'jumps', 'over', 'lazy']